.rodape{
  padding: 2em 5%;
  text-align: center;
  font-size: 0.7rem;
}

.rodape_logo{
  width: 11.25em;
  margin-bottom: 1em;
}

.rodape_info-empresa{
  line-height: 1.5em;
}



.lista-midias_sociais{
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.item-midias_sociais{
  width: 2.62em;
  margin: 0 .25em;
}

.item-midias_sociais img{
  width: 100%;
}

.rodape_titulo{
  margin-bottom: 1em;
  font-size: 1.45em;
  font-size: bold;
  text-transform: uppercase;
}

.rodape-item_lista{
  font-weight: 500;
}

