.rodape{
  padding: 2em 5%;
  text-align: center;
  font-size: 0.7rem;
}

.rodape_logo{
  width: 11.25em;
  margin-bottom: 1em;
}

.rodape_info-empresa{
  line-height: 1.5em;
}

.rodape_secao + .rodape_secao{
  margin-top: 2em;
}

.lista-midias_sociais{
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.item-midias_sociais{
  width: 2.62em;
  margin: 0 .25em;
}

.item-midias_sociais img{
  width: 100%;
}

.rodape_titulo{
  margin-bottom: 1em;
  font-size: 1.45em;
  font-size: bold;
  /* tipo de font bold(negrito) */
  text-transform: uppercase;
}

.rodape-item_lista{
  font-weight: 500;
}

@media (max-width:640px) {
  .rodape_secao + .rodape_secao{
    margin-top: 2em;
  }
}


@media(min-width:640px)and(max-width:1200px){
  .rodape{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    font-size: 1rem;
  }

  .rodape_secao-sobre,
  .rodape_secao-cursos,
  .rodape_secao-links,
  .rodape_secao-newsletter{
    max-width: 45%;
  }

  .rodape_secao-cursos{
    order: 1;
    margin: 0;
  }

  .rodape_secao-links{
    order: 2;
    margin: 0;
  }

  .rodape_secao-sobre{
    order: 3;
    margin-top: 2em;
  }

  .rodape_secao-newsletter{
    order: 4 ;
    margin-top: 2em;
  }
}
