body{
  font-family: "Helvetica","Lucida Grande",sans-serif;
  color: #3d3d3d;
  width: 80%;
  /* tamanho total do corpo e oq ele pode atingir  */
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;

  font-size: 16px;
  line-height: 1.5;
  /* distancia entra uma linha e outra */
}


figure{
  text-align: center;
  background-color: whitesmoke;
  
  border: 1px solid lightgray;
  width: 100%;
  box-sizing: border-box;

  padding: 15px;
  margin: 30px;
}

figure img{
  max-width: 100%;
  
}

/* footer */
.rodape{
  padding: 1.75rem 0;
/* espaçamento interno */

  font-size: 1.1rem;
  /* tamanho da fonte da pagina (rem) */
}
/* 
EM e REM tem o mesmo conceito de % mas ao invés de serem baseadas no tamanho de um elemento, 
essas medidas são baseadas em tamanho de fonte. 
EM usa o tamanho da fonte do elemento pai e REM usa o tamanho da fonte do <html>.
*/
.rodape-logo{
  width: 6em;
}

.rodape_copyright{
  display: inline;
  margin-left: 1em;
}

/*
classes
*/
.matriz-musicdot{
  width: 550px;
  margin-left: auto;
  margin-right: auto;
}

figcaption{
  margin-top: 10px;
}

.familia-tupfeln{
  width: 275px;
  float: right;
}

.titulo{
  background-color: #e1edf2;
  padding-top: 10px;
  font-size: 32px;
}

.subtitulo{
  border-bottom: 2px solid black;
}

.contato_subtitulo{
  display: inline;
}

.contato_info{
  margin: 16px 0 24px;
  padding-left: 32px;
}

.contato_info-titulo,
.contato_info-descricao{
  display: inline;
  margin: 16px 0 24px;
}


.contato_secao{
  display: inline-block;
  vertical-align: top;
  margin-left: 16px;
}

.contato_secao--telefone{
  margin-left: 32px;
}

/* media queries */

@media(max-width:850px){
  .contato_secao{
    display: block;
    margin-left: 1em;
  }
}

@media(max-width:622px){
  .familia-tupfeln{
    float: none;
    margin: 0 auto;
  }
}

@media(max-width:446px){
  .contato_subtitulo{
    display: block;
    margin-bottom: 0;
  }

  .contato_info{
    padding-left: 5px;
    font-size: .92em;
    border-left: 2px solid lightgray;
  }

  .rodape{
    font-size: .92em;
  }
}

  @media (max-width:342px) {

    .contato_info-descricao{
      display: block;
      margin-left: 1em;
    }
  }



/*
Configurando espaçamento:
p {
  line-height: 3px; /* tamanho da altura de cada linha 
  letter-spacing: 3px;  tamanho do espaço entre cada letra 
  word-spacing: 5px;  tamanho do espaço entre cada palavra 
  text-indent: 30px;  tamanho da margem da primeira linha do texto 
}
*/

/*
Bordas:
  body {
  border-color: red;
  border-style: solid;
  border-width: 1px;
  
  Forma resumida do exemplo acima:
  body {
  border: 1px solid red;
}
}

Definindo onde a borda será alterada
h1 {
  border-top: 1px solid red;  borda vermelha em cima 
  border-right: 1px solid red;  borda vermelha à direita 
  border-bottom: 1px solid red;  borda vermelha embaixo 
  border-left: 1px solid red;  borda vermelha à esquerda 
}
*/

/*
p{
  background-color: red;
  altura
  height: 300px;
  Largura
  width: 300px;
  espaçamento interno em elementos/Quando escrito apenas "padding" é aplicado em todos os outros(top-right-left-bottom)
  padding-top: 100px;
 espaçamento externo em elementos/Quando escrito apenas "margin" é aplicado em todos os outros(top-right-left-bottom)
  margin-top: 100px;
}
*/

/* 
BEM usa um conceito de bloco__elemento--modificador para nomear suas classes,
 sendo que bloco é o elemento html que representa uma divisão de conteúdo cuja sua existência já tenha um sentido por si só, 
 elemento representa uma parte semântica do bloco e modificador é uma sinalização de comportamento ou estilização. 
 */

 /* 
.exemplo {
  background-color: blue;
  width: 30%;  
}

.exemplo2 {
  background-color: red;
  width: 60%;
  display: inline-block;-> transformar um elemento inline em bloco
}
 */